* {
	margin: 0px;
	padding: 0px;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

.commands {
	float:right;
	width:30%;
}

.links {
	width:70%;
}

.navbar {
	font-family: 'Amatic SC', cursive;
}

.audioPlayer {
	height: 50px;
	border: 10px solid black;
}

#result a{
	color:#536b00;
}
#contentSearch {
	height: 100%;
	width: 100%;
	padding-top:60px;
}

.playlistName {
	font-size: 1.5em;
}

.woordenwolk {
	text-align: center;
}

.woordenwolk a{
	color:#445027;
	width:70%;
}


#info img{
	width:80%;
	max-width:200px;
	display: block;
	margin-left: auto;
	margin-right: auto
	
}

#searchResult {
	padding-left:10px;
	padding-right:5px;
	height: 100%;
	width: 40%;
	float: left;
	font-family: calibri;
	color: #00000;
	padding-right:5px;
}


#playlist {
	padding-left:10px;
	width: 30%;
	float: right;
	max-width:30%;
	min-width:30%;
	height:100%;
	border-left:solid 2px #FFFFFF;
}

#logoHeader{
	width: 70px;
}

#playlist td {
	padding: 4px;
}

.hoofdingKolom {
	font-size:2em;
	font-family: 'Amatic SC', cursive;
	color:#5c6b27;
}

#info {
	padding-right:5px;
	padding-left:10px;
	width: 30%;
	height: 100%;
	text-align:justify;
	float: left;
	min-width:30%;
	border-left:solid 2px #FFFFFF;
	font-family: calibri;
	}

.searchQuery {
	margin-left: 5px;
	font-size: 2em;
	font-family: 'Amatic SC', cursive;
	color: black;
}

#mainNav {
	width: 100%;
	white-space: nowrap;
	white-space: nowrap;
	-webkit-box-shadow: 0px 18px 44px -13px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 18px 44px -13px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 18px 44px -13px rgba(0, 0, 0, 0.75);
}

#artistinfo {
	padding-right: 5px;
	padding-left: 10px;
	width: 30%;
	height: 100%;
	background-color: #f9f9f9;
	text-align: justify;
	float: left;
	min-width: 30%;
	border-left: solid 2px #FFFFFF;
}

#right {
	position: relative;
	float: right;
	display: in-line;
	white-space: nowrap;
	margin-right: 100px;
}


span.tab {
	padding: 0 20px;
}

#searchField {
	width: 42%;
	padding-top: 1%
}

#container {
	text-align: center;
}

#logo {
	margin-top: 8%;
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.contact {
	margin-top: 5%;
	font-family: 'Amatic SC', cursive;
	font-size: 150%;
}

.cbutton {
	background-color: #DAF29F;
	border-color: #819649;
}

#header form {
	float: right;
	margin: 0 auto;
	top: 28%;
	position: relative;
	padding-right: 2%;
	font-family: arial;
	text-decoration: underline;
}

.comments {
	margin-top: 15px;
}

#header input {
	margin-left: 3px;
}

li {
	display: inline;
	margin-right: 4%;
}

a {
	text-decoration: none;
	color:#536b00;
}



a:hover {
	color: #E0D500;
	text-decoration: none;
}

#footer {
	font-family: calibri;
	position: fixed;
	bottom: 0;
	height: 1.5em;
	width: 100%;
	font-size: 1em;
	color: #FFFFFF;
	text-align: center;
	background-color: #9E9E9E;
}

.greetings {
	float: right;
	color: white;
	font-size: 2em;
	font-family: 'Amatic SC', cursive;
}

.toa {
	margin-top: 4%;
	font-family: calibri;
	height: 80%
}

.toa h1 {
	color: #B8E055;
}

#related{
	margin:1% 2px;
	height:6%;
	font-family: 'Amatic SC', cursive;
	font-size: 1.5em;
	background-color:#FDFFF2;
	overflow:auto;
}